<nav class="navbar navbar-default navbar-static">
    <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Explore Here</a>
  </div>
  
  
  <div class="collapse navbar-collapse js-navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="dropdown dropdown-large">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Beginner <b class="caret"></b></a>
        
        <ul class="dropdown-menu dropdown-menu-large row">
          <li class="col-sm-12">
            <ul>
              <li class="dropdown-header">Basic Data Structure</li>
              <li><a href="{{'src/ds/beginner/intro_to_ds.html'}}">What are data structures?</a></li>
              <li class="disabled"><a href="#">Introduction to different type of data structure</a></li>
              <li><a href="{{'src/ds/beginner/array.html'}}">Array</a></li>
              <li><a href="#">Stack</a></li>
              <li><a href="#">Queue</a></li>
              <li><a href="#">Linked List</a></li>
              <li><a href="#">Tree</a></li>
              <li><a href="#">Graph</a></li>
              
              <li class="divider"></li>
              <li class="dropdown-header">Operations on Arrays</li>
              <li><a href="#">Traversing</a></li>
              <li><a href="#">Searching</a></li>
              <li><a href="#">Deletion</a></li>
              <li><a href="#">Insertion</a></li>
              <li><a href="#">Sorting</a></li>
            </ul>
          </li>
          <!-- <li class="col-sm-3">
            <ul>
              <li class="dropdown-header">Button groups</li>
              <li><a href="#">Basic example</a></li>
              <li><a href="#">Button toolbar</a></li>
              <li><a href="#">Sizing</a></li>
              <li><a href="#">Nesting</a></li>
              <li><a href="#">Vertical variation</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Button dropdowns</li>
              <li><a href="#">Single button dropdowns</a></li>
            </ul>
          </li>
          <li class="col-sm-3">
            <ul>
              <li class="dropdown-header">Input groups</li>
              <li><a href="#">Basic example</a></li>
              <li><a href="#">Sizing</a></li>
              <li><a href="#">Checkboxes and radio addons</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Navs</li>
              <li><a href="#">Tabs</a></li>
              <li><a href="#">Pills</a></li>
              <li><a href="#">Justified</a></li>
            </ul>
          </li>
          <li class="col-sm-3">
            <ul>
              <li class="dropdown-header">Navbar</li>
              <li><a href="#">Default navbar</a></li>
              <li><a href="#">Buttons</a></li>
              <li><a href="#">Text</a></li>
              <li><a href="#">Non-nav links</a></li>
              <li><a href="#">Component alignment</a></li>
              <li><a href="#">Fixed to top</a></li>
              <li><a href="#">Fixed to bottom</a></li>
              <li><a href="#">Static top</a></li>
              <li><a href="#">Inverted navbar</a></li>
            </ul>
          </li> -->
        </ul>
        
      </li>
    </ul>
    
  </div><!-- /.nav-collapse -->
  </nav>